[submodule "3rdparty/googletest"]
	path = 3rdparty/googletest
	url = https://github.com/google/googletest
[submodule "3rdparty/opencv"]
	path = 3rdparty/opencv
	url = https://github.com/opencv/opencv
[submodule "3rdparty/TBB"]
	path = 3rdparty/TBB
	url = https://github.com/oneapi-src/oneTBB.git
